name: push-base-image
on:  
  push:
    branches:
      - base-image
jobs:
  push-alpine:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/findy-base:alpine-3.13
          context: ./infra/aws
          file: ./infra/aws/Dockerfile.alpine
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/findy-base:alpine-3.13
          cache-to: type=inline

  push-indy-ubuntu:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/findy-base:indy-1.16.ubuntu-18.04
          context: ./infra/aws
          file: ./infra/aws/Dockerfile.indy.ubuntu
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/findy-base:indy-1.16.ubuntu-18.04
          cache-to: type=inline
